{
  "presets": [
    "razzle/babel"
  ],
  "plugins": ["after"],
  "env": {
    "production": {
      "plugins": ["emotion"]
    },
    "development": {
      "plugins": [["emotion", { "sourceMap": true }]]
    }
  }
}